h2 Join
p
  Create an account.

form(action='/join', method='post')
  fieldset
    ul
      li
        label
          span Email
          input(name='user[email]', value='', placeholder='me@example.com', type='text')
      li
        label
          span Password
          input(name='user[password]', value='', placeholder='******', type='password')
      li
        input(type='submit', name='submit', value='Join')
