!!! 5
html
  head
    title ExpressAuth
    link(href='http://twitter.github.io/bootstrap/assets/css/bootstrap.css', rel='stylesheet')
body
    .container
      .navbar
        .navbar-inner
          a.brand(href='/') ExpressAuth
          ul.nav
            if currentUser
              li: a(href='/members') Members
              li: a(href='/members/account') Account
              li: a(href='/logout') Logout
            else
              li: a(href='/login') Login
              li: a(href='/signup') Sign Up
              li: a(href='/reminder') Reminder
      if notice
        .alert.alert-info= notice
      block mainContent
