!!! 5
html
  head
    title ExpressAuth
  body
    if notice
      div= notice
    block mainContent
    hr
    |  <a href="/">Home</a>
    if typeof(currentUser) !== 'undefined'
      |  <a href="/members">Members</a>
      |  <a href="/members/account">Account</a>
      |  <a href="/logout">Logout</a>
    else
      |  <a href="/login">Login</a>
      |  <a href="/signup">Sign Up</a>
      |  <a href="/reminder">Reminder</a>
