extends layout

block mainContent
  h2 Login
  p Welcome back.

  form(action='/login', method='post')
    fieldset
      label
        span Email
        input(name='email', value='', placeholder='me@example.com', type='text')
      label
        span Password
        input(name='password', value='', placeholder='******', type='password')
      input(type='hidden', name='_csrf', value=csrf)
      input(type='submit', name='submit', value='Login')
