extends layout

block navSelect
  - var nav = { reminder: 'active' }

block mainContent
  h2 Password Reminder

  form(action='/reminder', method='post', 'data-autosave'='true')
    fieldset
      legend Send yourself an email to reset your password.
      label Email
      input(name='email', value='', placeholder='me@example.com', type='text')
      input(type='hidden', name='_csrf', value=csrf)
      label
        button.btn.btn-primary(type='submit') Reset Password
